.mainpage-grid{
    margin-top: 40px;
    display: flex;
    width: 80%;
    margin-inline: auto;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 426px){
    .mainpage-grid{
        width: 95%;
    }
}