button{
    margin: 1.5rem;
    font-size: 16px;
    padding: 0.6rem 2rem ;
    border-radius: 24px;
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.226);
    background-color: var(--yellow);
    color:var(--lightblack);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: 700;
    margin-inline:auto ;
}

button:hover{
    background-color: skyblue;
}