.signup{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    margin-top: 0.5rem;
    align-items: center;
    height: calc(100vh - 6rem);
    justify-content: center;
    gap: 2rem;
    border-radius: 24px;
    padding: 2px!important;
}
.signup input{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    word-spacing: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    border-radius: 24px;
    padding: 0.5rem 1rem;
    text-align: left;
    word-spacing: normal;
    display: inline;
    width: 50%;
}
.username{
    border: 1px solid var(--yellow)!important;
}
.signup p {
    color: var(--yellow);
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    display: inline;
}

.loader{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.password{
    display: flex;
    border: 1px solid var(--yellow);
    border-radius: 24px;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    width: 52%;
    word-spacing: normal;
}
.showPassword{
    color: rgb(170, 170, 169);
    cursor: pointer;
}
.password input{
    width: 100%;
}


@media only screen and (max-width:860px){
    input::placeholder{
    font-weight: 600;
    font-size: 20px;
    word-spacing: normal;
}
}

@media only screen and (max-width:698px){
    input::placeholder{
    font-weight: 500;
    font-size: 16px;
    word-spacing: normal;
}
input{
    width: 70%!important;
    min-width: none;
}
.password{
    width: 74%;
}
}

@media only screen and (max-width:525px){
 .signup p{
    font-size: 14px;
    text-align: center;
    padding: 14px;
 }
}