.header{
    width: 100%;
    height: 4rem;
    border-bottom:1px solid rgba(255, 255, 255, 0.171);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2.5rem 2rem;
}

.search-parent{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 0.7rem;

}
.left{
    display: flex;
    color: var(--white);
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}
.notes-icon, .left{
    font-size: 1.5rem;
    transition: all 0.3s;
}   

.left:hover{
    scale: 1.1;
    transition: all 0.3s;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    width: 350px;
    background-color: var(--midgrey);
    padding: 0.55rem 1.2rem;
    border-radius: 24px;
    transition: all 0.3s;
    margin-bottom: 0px;
}
.right:hover{
    background-color: var(--grey);
    transition: all 0.3s;
}


.clicked{
    width: 600px;
    transition: all 0.3s ease;
}

.search-input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color:var(--white);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.3rem;
font-family: 'Roboto', sans-serif;
letter-spacing: 1.2px;

}

.logout{
    border-radius: 24px;
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.226);
    background-color: var(--yellow);
    color:var(--lightblack);
}



.notes-heading{
    color: rgb(251,188,4);
}

.search-input::placeholder{
    color:var(--white);
    font-size: 1rem;
    font-weight:500;
    letter-spacing: 1px;
font-family: 'Roboto', sans-serif;

}

@media only screen and (max-width: 968px){
    .clicked{
    width: 450px;
    transition: all 0.3s ease;
}
}

@media only screen and (max-width: 830px){
    .clicked{
    width: 450px;
    transition: all 0.3s ease;
}
}

@media only screen and (max-width: 800px){
    .clicked{
    width: 300px;
    transition: all 0.3s ease;
}
}


@media only screen and (max-width: 700px){
    .clicked, .right{
    width: 250px;
    transition: all 0.3s ease;
    min-width: 100px;
}
}

@media only screen and (max-width: 590px){
    .clicked, .right{
    width: 200px;
    min-width: 100px;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.logout{
    margin: 0.15rem;
    font-size: 10px;
    padding: 0.55rem 1rem ;

}

.search-input::placeholder{
    color:var(--white);
    font-size: 0.7rem;

    font-weight:600;
    letter-spacing: 1px;
}
.right{
    padding: 0.25rem 0.6rem;
}
.notes-icon, .left{
    font-size: 1rem;
    transition: all 0.3s;
}   

}

@media only screen and (max-width: 475px){
    .clicked, .right{
    
    width: 150px;
    min-width: 100px;
    font-size: 1rem;
    transition: all 0.3s ease;
}
}

@media only screen and (max-width: 375px){
    .clicked, .right{
    width: 100px;
    min-width: 70px;
    font-size: 10px;
    padding: 0.1rem 1rem !important;
    transition: all 0.3s ease;
}
.search-parent{
    margin:1rem 0rem;
}

.logout{
    font-size: 10px;
    padding: 0.35rem 1.5rem;
    width: 50px;
    display: flex;
    justify-content: center;
}

.search-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input::placeholder{
    color:var(--white);
    font-size: 0.7rem;
    font-weight:600;
    letter-spacing: 1px;
}
.search-input{
    margin-left: 0;
}
.right{
    padding: 0.25rem 0.6rem;
}
.notes-icon, .left{
    font-size: 1rem;
    transition: all 0.3s;
}   
}

@media only screen and (max-width: 300px){

    .header{
        flex-direction: column;
        height: fit-content;
        padding: 0.5rem 2rem;
    }
    .clicked, .right{
    width: 100%;
    min-width: 100px;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}
.search-input::placeholder{
    color:var(--white);
    font-size: 0.7rem;
    font-weight:600;
    letter-spacing: 1px;
}
.search-input{
    margin-left: 0;
}
.right{
    padding: 0.25rem 0.6rem;
}
.notes-icon, .left{
    font-size: 1rem;
    transition: all 0.3s;
}   
}