.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    margin: 1.5rem;
    cursor: pointer;
}

@media only screen and (max-width:568px) {
    .back-to-top{
        
    bottom: 1rem;
    right: 0.2rem;
    width: 2rem;
    height: 2rem;
    margin: 1.5rem;
    }
    
}